<div class="intro-2">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row" style="margin-top: 180px ;">
                <div class="col-md-6 offset-md-3">
                    <div class="container text-center">
                        <h1 class="font">Welcome to Payroll System</h1> 
                        <!-- <button mat-raised-button color="primary">Home Page</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>